.app-header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

.app-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  background: #1abc9c;
  padding-bottom: 5%;
}

.app-main {
  text-align: center;
}

.date-div {
  text-align: center;
}

.case-div {
  text-align: center;
}

#Search_btn,
#Error_btn {
  background-color: rgb(5, 127, 95);
  color: #eee;
  border: none;
  border-radius: 20rem;
  cursor: pointer;
  transition: 0.2s;
  height: 3rem;
  width: 12rem;
  font-size: 1.2rem;
}

#Search_btn:hover,
#Error_btn:hover {
  transform: scale(1.1);
  background-color: #1abc9c;
}

.form-select,
.mt-4 {
  text-align: center;
}

.center {
  margin: 0;
  position: absolute;
  top: 75%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

select {
  border-radius: 10px;
  font-size: 20px;
  background-color: #1abc9c;
}
